<div class="container">
  <h6>Dashboard</h6>
  <ul class="collection with-header">
    <li class="collection-header"><h5>Your Recepies</h5>
    <a routerLink="/dashboard/add" class="btn green">add</a>
    </li>
    <li class="collection-item" *ngFor="let item of (recepie | async)">
      <div>
        recepie:
        <strong>{{item.name}}</strong>
        <a routerLink="/dashboard/view/{{item.id}}" class="secondary-content">
          <i class="material-icons">menu</i>
        </a>
      </div>
    </li>
  </ul>
</div>