<nav>
  <div class="nav-wrapper white">
    <div class="container">
      <a routerLink='/' class="brand-logo">Resi P app</a>
      <a href="#" data-target="slide-out" class="sidenav-trigger" (click)="sideNav($event)">
        <i class="material-icons">menu</i>
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
          <a routerLink='/'>Home</a>
        </li>
        <li>
          <a routerLink='/recepies'>Recipes</a>
        </li>
        <li *ngIf="this.auth.authenticated">
          <a routerLink="/settings" class="sidenav-close">
            Settings
          </a>
        </li>
        <li *ngIf="this.auth.authenticated">
          <a routerLink="/dashboard" class="sidenav-close">Dashboard</a>
        </li>
        <li *ngIf="!this.auth.authenticated">
          <a routerLink='/login'>Login</a>
        </li>
        <li *ngIf="!this.auth.authenticated">
          <a routerLink='/register'>Register</a>
        </li>
        <li *ngIf="this.auth.authenticated">
          <a routerLink="/profile" class="sidenav-close">
            {{this.auth.currentUserEmail}}</a>
        </li>
        <li *ngIf="this.auth.authenticated">
          <a href="#" (click)="signOut($event)">Log out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<ul id="slide-out" class="sidenav">
  <li *ngIf="this.auth.authenticated">
    <div class="user-view">
      <div class="background">
        <img src="assets/img/sideNavBg.jpg">
      </div>
      <span class="white-text email">{{this.auth.currentUserEmail}}</span>
    </div>
  </li>
  <li *ngIf="this.auth.authenticated">
    <a routerLink="/profile" class="sidenav-close">
      <i class="material-icons">account_circle</i>view profile</a>
  </li>
  <li *ngIf="this.auth.authenticated">
    <a routerLink="/settings" class="sidenav-close">
      <i class="material-icons">settings</i>settings
    </a>
  </li>
  <li *ngIf="this.auth.authenticated">
    <a routerLink="/dashboard" class="sidenav-close">
      <i class="material-icons">dashboard</i>dashboard
    </a>
  </li>
  <li>
    <div class="divider"></div>
  </li>
  <li>
    <a routerLink='/' class="sidenav-close">
      <i class="material-icons">home</i>Home</a>
  </li>
  <li>
    <a routerLink='/recepies' class="sidenav-close">
      <i class="material-icons">local_dining</i> recepies</a>
  </li>
  <li *ngIf="!this.auth.authenticated">
    <a routerLink='/login' class="sidenav-close">
      <i class="material-icons">person</i>login</a>
  </li>
  <li *ngIf="!this.auth.authenticated">
    <a routerLink='/register' class="sidenav-close">
      <i class="material-icons">person_add</i>Register</a>
  </li>
  <li *ngIf="this.auth.authenticated">
    <a href="#" (click)="signOut($event)">
      <i class="material-icons">person_outline</i>log out
    </a>
  </li>
</ul>