<div class="section">
  <div class="container">
    <div class="row">
      <div class="col s12 center-align">
        <div class="divider"></div>
        <div class="row">
          <!-- name -->
          <h4 class="flow-text">{{(author |async )?.name}}</h4>
        </div>
        <div class="divider"></div>
        <div class="row">
          <div class="col s12">
            <h4>Contact</h4>
            <h6>{{(author | async )?.email}}</h6>
          </div>
        </div>
        <div class="divider"></div>
        <div class="row">
          <div class="col s12">
            <app-settings></app-settings>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>