<div class="section">
  <div class="container">
    <div class="row">
      <div class="col s12 center-align">
        <div class="row">
          <div class="col s12">
            <!-- image -->
            <img src="assets/img/a.jpg" alt="" class="responsive-img circle">
          </div>
          <div class="col s12">
            <a href="#" (click)="changePhoto($event)">
              <i class="material-icons">add_a_photo</i>
            </a>
          </div>
        </div>
        <div class="divider"></div>
        <div class="row">
          <!-- name -->
          <h4 class="flow-text">Haji Mohammed</h4>
        </div>
        <div class="divider"></div>
        <div class="row">
          <div class="col s12">
            <h4>Contact</h4>
            <h6>Email: stuff@stuff.com</h6>
          </div>
        </div>
        <div class="divider"></div>
        <div class="row">
          <div class="col s12">
            <app-settings></app-settings>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>