<div class="slider">
  <ul class="slides">
    <li>
      <img src="assets/img/food4.jpeg">
      <!-- random image -->
      <div class="caption center-align">
        <h3>Lorem ipsum dolor sit amet.</h3>
        <h5 class="light grey-text text-lighten-3"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error, ipsa.</h5>
      </div>
    </li>
    <li>
      <img src="assets/img/food2.jpeg">
      <!-- random image -->
      <div class="caption left-align">
        <h3 class="black-text">Lorem, ipsum dolor.</h3>
        <h5 class="black-text text-lighten-1">Lorem ipsum dolor sit amet.
        </h5>
      </div>
    </li>
    <li>
      <img src="assets/img/food3.jpeg">
      <!-- random image -->
      <div class="caption right-align">
        <h3>Lorem, ipsum dolor.</h3>
        <h5 class="light grey-text text-lighten-3">Lorem ipsum dolor sit amet.</h5>
      </div>
    </li>
    <li>
      <img src="assets/img/food.jpg">
      <!-- random image -->
      <div class="caption center-align">
        <h3>Lorem ipsum dolor sit.</h3>
        <h5 class="light grey-text text-lighten-3">Lorem ipsum dolor sit amet consectetur..</h5>
      </div>
    </li>
  </ul>
</div>

<div class="container">
  <div class="section">
    <div class="container">
      <h4 class="center-align">Highest rated</h4>
      <div class="carousel carousel-slider">
        <ul *ngFor="let item of recepies">
          <li>
            <div class="card carousel-item">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{item.imageUrl}}">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">{{item.name}}
                  <i class="material-icons right">more_vert</i>
                </span>
                <p>
                  <strong>rating: </strong>4.6</p>
              </div>
              <div class="card-action">
                <a href="#">See more</a>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">description
                  <i class="material-icons right">close</i>
                </span>
                <p>{{item.description}}</p>
                <p>
                  <strong>Difficulty: </strong> {{item.difficulty}}</p>
                <p>
                  <strong>Time needed: </strong> {{item.time}}</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="section grey darken-3">
  <div class="container">
    <p class="center-align white-text flow-text" id="detail">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. In iste laborum repellendus voluptate error. Consequuntur accusantium
      soluta nostrum nisi doloremque, aut minima veniam provident sint vitae? Vel cupiditate ipsam eius atque laudantium!
      Sunt fuga ducimus, doloremque harum alias rem omnis ex ad assumenda dignissimos facere veniam ut illo nesciunt quos.
    </p>
  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light white-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum, omnis!</h5>
      </div>
      <div class="row center">
        <a routerLink="/recepies" class="btn grey darken-3 waves-effect waves-light">See recepies</a>
      </div>
    </div>
  </div>
  <div class="parallax">
    <img src="assets/img/background.jpeg">
  </div>
</div>

<footer class="page-footer grey darken-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">About Us</h5>
        <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi est, suscipit unde incidunt perspiciatis dolorum id
          ducimus voluptatem maxime iure mollitia quasi temporibus exercitationem voluptatum quae aspernatur quod laboriosam
          dolores!
        </p>
      </div>
      <div class="col l6 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li>
            <a class="white-text" routerLink="/">Instagram</a>
          </li>
          <li>
            <a class="white-text" routerLink="/">Twitter</a>
          </li>
          <li>
            <a class="white-text" routerLink="/">Snapchat</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made by
      <a class="brown-text text-lighten-3" routerLink="/">Hajisky</a>
    </div>
  </div>
</footer>